<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <b><%= @to_user %></b> Your One Time Password for Password Reset is </p>
    <h1><%= @otp %></h1>
  </body>
</html>
