<section class="background-radial-gradient overflow-hidden">

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Log in to "Typing" <br />
            <span style="color: hsl(218, 81%, 75%)">to resume your blogging...</span>
          </h1>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">

              <form action="/to_login_handler" method="post" id="login-form">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" name="user[email]" class="form-control" required/>
                  <label class="form-label" for="form3Example3">Email</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" name="user[password]" class="form-control" required/>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>

                <div class="float-left">
                    <input type="checkbox" class="form-check-input me-2" name="show-password" id="show-password">&nbsp;
                    <label for="show-password" class="form-check-label">Show password</label>
                </div>
                <br>
                <div class="form-check d-flex justify-content-center mb-4">
                  <a href="" class="no_underline">forgot password</a> &nbsp; | &nbsp; Not a User? &nbsp;<a href="/signup" class="no_underline">Create an account</a>
                </div>
                <div id="warn-div">
                <%  if flash[:error]%>
                <p class="text-danger">
                <%= flash[:error] %>
                </p>
                <% end %>

                </div>
                <!-- Submit button -->
                <button type="submit" id="login_submit" class="btn btn-primary btn-block mb-4">
                  Log in
                </button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%= javascript_pack_tag 'login.js' %>

